/*#region Base Formatting*/
@font-face 
{
    font-family: "mainFont";
    src: url("../fonts/MapleMono-Bold.woff2");
}

html
{
    scroll-behavior: smooth;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "mainFont";
    background-color: #303030;
}

#whole-page
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1024px;
}

section
{
    min-height: 120vh;
}

a
{
    text-decoration: none;
    color:#3f3f3f;
}

.header
{
    color: #DCD7BA;
    text-align: center;
}

/*For links*/
a:hover
{
    color:#999999
}

/*For buttons*/
button 
{
    border-radius: 7px;
    background-color: #7FB4CA;
    border: none;
    color: #2D4F67;
    display: inline-block;
    font-size: 16px;
}

.information
{
    display: flex;
    justify-content: center;
    text-align: center;
    color:#7FB4CA;
}

ul
{
    color: #E6C384;
}

.section-header
{
    text-align: center;
}

#centered-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*#endregion*/

/*#region Healthy Plate*/
.Circle
{
    text-align: center;
    min-height: 300px;
    max-height: 300px;
    font-size: 0; /*to handle collapsing margins*/
}

.quadrant
{
    border-style: solid;
    border-color: #E6C384;
    background-color: #E6C384;
    display: inline-block;
    height: 140px;
    width: 140px;
}

.TopLeft
{
    border-top-left-radius: 100%;
    border-width: 4px 2px 2px 4px;
    transition: 0.2s;
}
.TopLeft:hover
{
    transform: translate(-10px, -10px);
}
.TopRight
{
    border-color: #7E9CD8;
    background-color: #7E9CD8;
    border-top-right-radius: 100%;
    border-width: 4px 4px 2px 2px;
    transition: 0.2s;
}

.TopRight:hover
{
    transform: translate(10px, -10px);
}
.vegetables:hover
{
    transform: translate(10px, -10px);
}
.BottomLeft
{
    
    border-color: #98BB6C;
    background-color: #98BB6C;
    border-bottom-left-radius: 100%;
    border-width: 2px 2px 4px 4px;
    transition: 0.2s;
}
.vegetables:hover
{
    transform: translate(0px, 10px);
    transition: 0.2s;
}
.BottomRight
{
    border-color: #98BB6C;
    background-color: #98BB6C;
    border-bottom-right-radius: 100%;
    border-width: 2px 4px 4px 2px;
    transition: 0.2s;
}

#plate-container
{
    
    background-color: #6A9589;
    border-radius: 14px;
    height: 350px;
    width: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plate-container-body
{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #endregion */

#wholegrains
{
    opacity: 1;
}

@keyframes fadeIn
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*For Desktop*/
@media screen and (min-width:800px)
{
    body{background-color: #3f3f3f;}
}